.cont-footer {
    color: white !important;
    background-color: #323390 !important;
}

.cont-footer h6 {
    color: white !important;
}

.container-fluid.mt-4.mb-4 {
    flex-grow: 1; /* Si quieres que ese div interno empuje hacia abajo */
}

/** Estilos propios carrito  **/
.contador-btn {
    width: 28px; height: 28px; border-radius: 999px;
    display:flex; align-items:center; justify-content:center;
    padding:0;
}
.estado-max { color:#000; }         /* negro */
.estado-alerta { color:#dc3545; }    /* rojo */
.btn-eliminar-alerta { color:#dc3545 !important; font-weight:600; }
.tooltip-checkout { font-size: 12px; }

#overlay-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-content {
    text-align: center;
}